body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: silver;
}

.nav_bar {
    font-size: 30px;
    font-weight: bold;
}

.container {
    margin-top: 30px;
}


.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;

}

.img_size {
}

.mem {
    font-size:24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_photo {
    text-align:center;
    font-size:18px;
}

.my_photo {
    background: url(../img/stet.jpg) no-repeat center center;
    background-size: 100%;
    width: 300px;
    height: 300px;

}

.nav_logo {
    background: url(../img/logo.png) no-repeat center center;
    background-size: 100%;
    width: 100px;
    height: 100px;
}
<<<<<<< HEAD
.button_js{
    text-align: center;
}

#my_btn{
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: whitesmoke;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

#demo img {
    margin-top: 10px;
    width: 100px;
    height: 200px;
}
=======

>dsfsdfsdf
>>>>>>> 7d01adf691b3b2eec0b8ed186e13a4c64b303a95
